<footer class="footer-section">
  <div class="footer-top-section">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="about-footer">
            <div class="about-title">
              About GEO TOURISM FOUNDATION
            </div>
            <div class="about-description">
              <p style="  color: #9e9e9e;"><span>GEO TOURISM FOUNDATION&nbsp;</span>  strongly believe in Principles of sustainable Development and Conservation that adhere
                to Global Principles of balancing the need of human being and nature sustainability.</p>
            </div>
          </div>
        </div>
        <div class="col-md-2 col-sm-6 col-xs-12">
          <div class="single-fta">
            <h3 class="fta-title">Quick Links</h3>
            <ul class="fta-list">
              <li><a routerLink="/about">About Us</a></li>
              <li><a routerLink="/">Terms of Service</a></li>
              <li><a routerLink="/">Privacy Policy</a></li>
              <li><a routerLink="/contact">Contact</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="single-fta">
            <h3 class="fta-title">Contact Us</h3>
            <div class="footer-contact">
              <p><span class="label"> <i class="fa fa-map-marker"></i></span><span
                class="text"> Maarifa House opposite ATC</span>
              </p>
              <p><span class="label"> <i class="fa fa-thumb-tack"></i></span><span
                class="text">P. O Box 103066, Kinondoni Dar es Salaam,<br>  Tanzania</span>
              </p>
              <p><span class="label"> <i class="fa fa-phone"></i></span><span class="text">Tel. +255 22 2120877</span>
              </p>
              <p><span class="label"> <i class="fa fa-mobile-phone"></i></span><span class="text">+255737344440</span>
              </p>
              <p><span class="label"> <i class="fa fa-envelope-o"></i></span><span
                class="text">info@get.co.tz</span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="single-fta">
            <h3 class="fta-title">Follow Us</h3>
            <div class="social-block">
              <ul class="social-list list-inline">
                <li class="single-social facebook">
                  <a target="_blank"><i class="fa fa-facebook"></i>
                  </a>
                </li>
                <li class="single-social instagram">
                  <a target="_blank"><i class="fa fa-instagram"></i>
                  </a>
                </li>
                <li class="single-social whatsapp">
                  <a href="https://wa.me/+255762174951?text=Hello SMA Freight Company Limited!%20I%20am%20Interested%20with%20You:%20"
                     target="_blank"><i class="fa fa-whatsapp"></i>
                  </a>
                </li>
                <li class="single-social twitter"><a target="_blank"><i class="fa fa-twitter"></i></a></li>
              </ul>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
  <div class="footer-bottom-area">
    <div class="container">
      <div class="row justify-content-end">
        <div class="">
          <div class="footer-bottom">
            <div class="row justify-content-center">
              <div class="col-sm-12 ">
                <div class="fba-copyright">
                  <p>Copyright © 2022.All Right Reserved. Designed by GeoTourism</p></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
