<section class="project-area">
    <div class="container my-container">
      <div class="row services">
        <div class="col-lg-4 col-md-4 col-sm-12 box ">
          <div class="icons">
            <li class="single-social instagram">
              <i class="fa fa-book"></i>
            </li>
          </div>
          <div class="title"><a>Integrated, Tailored Interventions</a></div>
          <p class="description">Every strategy and intervention are different. We tailor proposals across a broad range of programmes.</p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 box ">
          <div class="icons">
            <li class="single-social instagram">
              <i class="fa fa-pagelines"></i>
            </li>
          </div>
          <h4 class="title"><a>Tree Planting,Agro forestry</a></h4>
          <p class="description">Promoting tree planting, agro forestry and natural resource conservation to reverse the environmental
             degradation and to provide the rural and urban people with fuel wood.
          </p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 box ">
          <div class="icons">
            <li class="single-social instagram">
              <i class="fa fa-group"></i>
            </li>
          </div>
          <h4 class="title"><a>Corporate Social Investment</a></h4>
          <p class="description">Make an impact by investing in our communities and local people. With your help, we can build a legacy and a better future for all.</p>
        </div>
      </div>

      <div class="row services">
        <div class="col-lg-4 col-md-4 col-sm-12 box" data-wow-duration="1.4s" data-aos="fade-up">
          <div class="icons">
            <li class="single-social instagram">
              <i class="fa fa-user"></i>
            </li>
          </div>
          <h4 class="title"><a>Training and Skills Development</a></h4>
          <p class="description">Engaging local people as tour guides, cultural operators and camps
            workers and hence drive them from only depending on agriculture or fishing.</p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 box " data-wow-duration="1.4s" data-aos="fade-up">
          <div class="icons">
            <li class="single-social instagram">
              <i class="fa fa-bar-chart"></i>
            </li>
          </div>
         <h4 class="title"><a>Data-Aided Development</a></h4>
          <p class="description">Our knowledge and experience within the sector has allow us to
             gain insight and ask the right questions, and thus predict your project’s outcome within a high probability.</p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 box" data-wow-duration="1.4s" data-aos="fade-up">
          <li class="single-social instagram">
            <a ><i class="fa fa-tree"></i>
            </a>
          </li>
          <h4 class="title"><a>Protection of Wildlife and Resources </a></h4>
          <p class="description">We enhance economic benefits by identifying Tourism Resources and Packages found within the area.
             These resources are used as tool to attract tourism investments</p>
        </div>
      </div>
  </div>
</section>


