<section class="team-area">
  <div class="overlay">
  <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-header">
            <h3 class="second-headline">BOARD OF MEMBERS</h3>
            <span class="cg__symbol">
									<span></span>
								</span>
          </div>
        </div>
      </div>
     
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="team-card">
          <div class="team-image">
            <img src="../../../assets/team/default_person.jpeg" alt="Avatar">
          </div>
          <div class="team-content">
            <h4 class="team-name">
              <span>Dr.Sara Nyello</span></h4>
              <div class="team-role">CEO – Chief Executive Officer</div>
              <div class="team-email"><i class="fa fa-envelope-o"></i>snyello@get.co.tz</div>
            </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6  col-sm-12">
        <div class="team-card">
          <div class="team-image">
            <img src="../../../assets/team//CEO-Masaki.jpg" alt="Avatar">
          </div>
          <div class="team-content">
            <h4 class="team-name">
              <span>Dr.Sebastian Masaki</span></h4>
              <div class="team-role">Board of Director</div>
              <div class="team-email"><i class="fa fa-envelope-o"></i>s.masaki@get.co.tz</div>
            </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6  col-sm-12">
        <div class="team-card">
          <div class="team-image">
            <img src="../../../assets/team/default_person.jpeg" alt="Avatar">
          </div>
          <div class="team-content">
            <h4 class="team-name">
              <span>Ms. Christine Jengo</span></h4>
              <div class="team-role">Co-Founder</div>
              <div class="team-email"><i class="fa fa-envelope-o"></i>info@get.co.tz</div>
            </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="team-card">
          <div class="team-image">
            <img src="../../../assets/team/default_person.jpeg" alt="Avatar">
          </div>
          <div class="team-content">
            <h4 class="team-name">
              <span>Ms.Lilian Baitu</span></h4>
              <div class="team-role">IT Specialist</div>
              <div class="team-email"><i class="fa fa-envelope-o"></i>info@get.co.tz</div>
            </div>
        </div>
      </div>
    </div>
  </div>
    </div>
</section>
