   
   
   <section class="project-area">
      <div class="overlay">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="section-header">
                <h3 class="second-headline">Our Programmes</h3>
                <span class="cg__symbol">
                      <span></span>
                    </span>
              </div>
            </div>
           </div>
             
          <div class="row" >
            <div class="col-lg-3 col-xl-3 col-md-4 col-sm-6 p-0 justify-content-center">
              <div class="flip-card">
                    <img src="../../../assets/images//geo1.jpeg" alt="Avatar">
              </div>
            </div>

            <div class="col-lg-3 col-xl-3 col-md-4 col-sm-6 p-0 justify-content-center">
                <div class="flip-card">
                  <div class="programme">
                    <h3 class="title">Tourism Resources and Packages Identification</h3> 
                    <p class="contents">
                      We identify Tourism Resources and Packages found within the area. These resources are
                      used as tool to attract tourism investments that multiply the income generation and
                      economic diversifications. This packages includes various activities such birdwatching, camping,
                      Photography Tourism, Hiking, Bicycle riding.
                    </p>
                  </div>  
                </div>
            </div>

              <div class="col-lg-3 col-xl-3 col-md-4 col-sm-6 p-0 justify-content-center">
                <div class="flip-card">
                      <img src="../../../assets/images/geo5.jpg" alt="Avatar">
                </div>
              </div>
              <div class="col-lg-3 col-xl-3 col-md-4 col-sm-6 p-0 justify-content-center">
                <div class="flip-card">
                  <div class="programme">
                    <h3 class="title">Community Tree Planting</h3> 
                    <p class="contents">
                      Tree planting, agro forestry and natural resource conservation to reverse the environmental degradation and to provide the rural and urban people with fuel wood.
                      Community tree planting transforms shared spaces, and we have thousands of more applications on file to support. We plant at schools, community centres
                    </p>
                  </div> 
                </div>
              </div>

            <div class="col-lg-3 col-xl-3 col-md-4 col-sm-6 p-0 justify-content-center">
              <div class="flip-card">
                <div class="programme">
                  <h3 class="title">Waste Management Program</h3> 
                  <p class="contents">
                    An electronic payment (e-payment), in short, can be simply defined as paying for goods
                     or services on the internet.It includes all financial operations using electronic devices, 
                     such as computers, smartphones or tablets. E-payments come with various methods, like credit or debit
                      card payments or bank transfers.
                  </p>
                </div>             
           </div>
            </div>

            <div class="col-lg-3 col-xl-3 col-md-4 col-sm-6 p-0 justify-content-center">
                <div class="flip-card">
                    <img src="../../../assets/images/geo7.JPG" alt="Avatar">
                </div>
            </div>

              <div class="col-lg-3 col-xl-3 col-md-4 col-sm-6 p-0 justify-content-center">
                <div class="flip-card">
                  <div class="programme">
                    <h3 class="title">Training and Seminars</h3> 
                    <p class="contents">
                      An electronic payment (e-payment), in short, can be simply defined as paying for goods
                       or services on the internet.It includes all financial operations using electronic devices, 
                       such as computers, smartphones or tablets. E-payments come with various methods, like credit or debit
                        card payments or bank transfers.
                    </p>
                  </div>          
              </div>
              </div>
              <div class="col-lg-3 col-xl-3 col-md-4 col-sm-6 p-0 justify-content-center">
                <div class="flip-card">
                    <img src="../../../assets/images/geo6.jpg" alt="Avatar">
                </div>
              </div>
          </div>
          
         </div>
        </div>
    </section>
  
  
  