<div class="content-header">
  <img class="img-header" src="../../../assets/slider/slide6.jpg" alt="pat-tree">
  <div class="container centered-card">
    <div class="text-center">
      <h1 class="mb-3 bread img-title">CONTACT US</h1>
      <p class="breadcrumbs"><span class="mr-2 bread-name" routerLink="/">Home <i class="fa fa-chevron-right"></i></span> <span>Contact Us <i class="fa fa-chevron-right"></i></span></p>
    </div>
  </div>
</div>
  <section class="contacts">
    <div class="container pt-2 pb-5">
    <div class="row wow fadeInUp" >
      <div class="col-lg-4 col-md-4 col-xl-4 col-sm-4" >
        <div class="single-fta">
          <mat-card-title class="p-3" style="color:#000;">Contact Us</mat-card-title>
          <div class="footer-contact">
            <p><span class="label"> <i class="fa fa-map-marker"></i></span><span
              class="text"> Maarifa House opposite ATC</span>
            </p>
            <p><span class="label"> <i class="fa fa-thumb-tack"></i></span><span
              class="text">P. O Box 103066, Kinondoni Dar es Salaam,<br>  Tanzania</span>
            </p>
            <p><span class="label"> <i class="fa fa-phone"></i></span><span class="text">+255762120555</span>
            </p>
            <p><span class="label"> <i class="fa fa-mobile-phone"></i></span><span class="text">+255737344440</span>
            </p>
            <p><span class="label"> <i class="fa fa-envelope-o"></i></span><span
              class="text">info@get.co.tz</span>
            </p>
          </div>
          <mat-card-title class="p-3" style="color:#000;">Follow Us</mat-card-title>
          <div class="social-block">
            <ul class="social-list list-inline">
              <li class="single-social facebook">
                <a target="_blank"><i class="fa fa-facebook"></i>
                </a>
              </li>
              <li class="single-social instagram">
                <a target="_blank"><i class="fa fa-instagram"></i>
                </a>
              </li>
              <li class="single-social whatsapp">
                <a href="https://wa.me/+255762174951?text=Hello GeoTourism Foundation!%20I%20am%20Interested%20with%20You:%20"
                   target="_blank"><i class="fa fa-whatsapp"></i>
                </a>
              </li>
              <li class="single-social twitter"><a target="_blank"><i class="fa fa-twitter"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-8 col-md-8 col-xl-8 col-sm-8">
        <mat-card class="mat-elevation-z0">
          <mat-card-title class="p-3" style="color:#000;">Get in Touch with Us</mat-card-title>
          <form>
            <div class="row">
              <div class="col-xl-6 col-md-6 col-lg-6 col-sm-12">
                <mat-form-field class="example-full-width" appearance="outline">
                  <input matInput placeholder="Your Email" required
                         type="email">
                </mat-form-field>
              </div>
              <div class="col-xl-6 col-md-6 col-lg-6 col-sm-12">
                <mat-form-field class="example-full-width" appearance="outline">
                  <input matInput placeholder="Your Name" required
                         type="text">
                </mat-form-field>
              </div>
              <div class="col-xl-12 col-md-12 col-lg-12 col-sm-12">
                <mat-form-field class="example-full-width" appearance="outline">
                  <input matInput placeholder="Subject" required
                         type="text">
                </mat-form-field>
              </div>
              <div class="col-xl-12 col-md-12 col-lg-12 col-sm-12">
                <mat-form-field class="example-full-width" appearance="outline">
                  <textarea matInput  cols="35" rows="8" placeholder="Your Message" required></textarea>
                </mat-form-field>
              </div>
              <div class="col-12 text-start">
                <button style="height: 5vh;" class="second-button"
                        type="submit">
                  SEND
                </button>
              </div>
            </div>
          </form>
        </mat-card>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="map mb-4 mb-lg-0">
          <iframe src="https://maps.google.com/maps?q=67%20Wakulima%20Rd%2C%20Dar%20es%20Salaam&t=m&z=16&output=embed&iwloc=near"  height="400" style="border:0;width: 100%" allowfullscreen="" loading="lazy"></iframe>
        </div>
      </div>
    </div>
  </div>
</section>
