<div class="content-header">
  <img class="img-header" src="../../../assets/slider/slide6.jpg" alt="pat-tree">
  <div class="container centered-card">
    <div class="text-center">
      <h1 class="mb-3 bread img-title">ABOUT US</h1>
      <p class="breadcrumbs"><span class="mr-2 bread-name" routerLink="/">Home <i class="fa fa-chevron-right"></i></span> <span>AboutUs <i class="fa fa-chevron-right"></i></span></p>
    </div>
  </div>
</div>
<section id="about-us" class="about-us">
  <div class="container">
    <div class="row">
      <div class="col-lg-6" >
        <div class="about-item">
          <p class="main-color">
            <span style="color: #009900;font-weight: 500;">GEO TOURISM FOUNDATION</span> is a registered non-governmental and non profit making conservation
            foundation that operates in Tanzania. Our main focus is in Environmental Conservation, Improve People Lively hood and tourism development.
            We strongly believe in Principles of sustainable Development and Conservation that adhere to Global Principles of balancing the
            need of human being and nature sustainability.
          </p>
          <p class="main-color">
            The main goal of this NGO is to promote, conserve and protect water healthy ecosystems and encourage the wise and sustainable use of our natural resources.</p>
        </div>
        <div class="two_colorbox mb-5" data-aos="fade-up">
          <a class="title-icon"><i class="fa fa-eye"></i>Our Vision</a>
          <p class="main-color">An inclusive and engaged society with sustainable healthy environment where as people,
            innovation and all our natural treasures thrive.
          </p>
          <a class="title-icon"><i class="fa fa-tachometer"></i>Our Mission</a>
          <p class="main-color">Actively work with stakeholders in the tourism industry to protect, manage and restore ecosystem health,
            promote environment stewardship and support the wise use of natural resources for the benefits of ecosystems.
          </p>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="about-image about-one-img">
          <img src="../../../assets/slider/slide1.jpg" class="shadow"
               alt="image">
          <img src="../../../assets/images//geo4.jpeg" class="shadow" style="width: 400px; height: 300px"
               alt="image">
        </div>
      </div>
    </div>
  </div>
</section>

<app-our-team></app-our-team>
